django-bootstrap4==2.2.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.28
pytz==2020.1
static3==0.7.0
django-test-without-migrations==0.6
coveralls==2.1.2
django-tinymce==3.0.2
xhtml2pdf==0.2.5
django-qr-code==1.2.0
django_select2==7.4.2
jsonfield==3.1.0
model_mommy==2.0.0
gunicorn==20.0.4
psycopg2==2.8.3
