django-bootstrap4==0.0.7
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.1.7
python-decouple==3.1
pytz==2018.9
Pillow==5.4.1
static3==0.7.0
django-test-without-migrations==0.6
gunicorn==19.9.0
psycopg2==2.7.7
coveralls==1.6.0
django-tinymce==2.8.0
xhtml2pdf==0.2.3
django-qr-code==1.0.0
django_select2==6.3.1
jsonfield==2.0.2
model_mommy==1.6.0
