{% extends 'base.html' %}

{% load static %}

{% block extra-css %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'css/buttons.dataTables.min.css' %}">
{% endblock %}

{% block content-title %}Modelos de Certificados{% endblock %}
{% block content-description %}Página de Administração dos Modelos de Certificados{% endblock %}

{% block content %}
<div class="row mb-4 ml-0 justify-content-center">
  {% if perms.auth.add_user %}
    <a class="btn btn-success" href="{% url 'certificates:template-create' %}" role="button">Novo Modelo</a>
  {% else %}
    <a class="btn btn-secondary" style="cursor: not-allowed;" href="{% url 'accounts:user-create' %}" role="button" title="Você não tem permissão para criar um usuário." disabled>Novo Modelo</a>
  {% endif %}
</div>
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-info" role="alert">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
<div class="row">
  <table id="tableList" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Evento</th>
      <th>Modelo do Certificado</th>
      <th>Campos Definidos</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    {% for template in templates %}
      <tr>
        <td>{{ template.event }}</td>
        <td>{{ template.name }}</td>
        <td>
          {% for field in template.template_fields %}{{ field }}{% if not forloop.last %}, {% endif %}{% endfor %}
        </td>
        <td style="white-space: nowrap;">
          <a href="{% url 'certificates:template-pdf-preview' template.pk %}" class="fas fa-file-pdf fa-sm" title="Visualizar Modelo"></a>
          | <a href="{% url 'certificates:template-duplicate' template.pk %}" class="fas fa-copy fa-sm" title="Clonar"></a>
          {% if user.is_superuser or template.event.created_by == user %}
            | <a href="{% url 'certificates:template-update' template.pk %}" class="fas fa-edit fa-sm" title="Editar"></a>
            | <a href="{% url 'certificates:template-delete' template.pk %}" class="fa fa-trash-alt fa-sm" title="Excluir"></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
      <th>Evento</th>
      <th>Modelo do Certificado</th>
      <th>Campos Definidos</th>
      <th>Ações</th>
    </tr>
    </tfoot>
  </table>
</div>
{% endblock %}

{% block extra-js %}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script>
  $(function () {
    $('#tableList').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : false,
      'info'        : true,
      'autoWidth'   : true,
      'language': {
        "sEmptyTable": "Nenhum registro encontrado",
        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
        "sInfoPostFix": "",
        "sInfoThousands": ".",
        "sLengthMenu": "_MENU_ resultados por página",
        "sLoadingRecords": "Carregando...",
        "sProcessing": "Processando...",
        "sZeroRecords": "Nenhum registro encontrado",
        "sSearch": "Pesquisar",
        "oPaginate": {
            "sNext": "Próximo",
            "sPrevious": "Anterior",
            "sFirst": "Primeiro",
            "sLast": "Último"
        },
        "oAria": {
            "sSortAscending": ": Ordenar colunas de forma ascendente",
            "sSortDescending": ": Ordenar colunas de forma descendente"
        },
      },
    })
  })
</script>
{% endblock %}