<li class="header">Menu</li>
<li class="treeview">
  <a href="#">
    <i class="fa fa-laptop"></i>
    <span>Cadastro</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> Usuários</a></li>
    <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Eventos</a></li>
    <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Participantes</a></li>
  </ul>
</li>
<li class="treeview">
  <a href="#">
    <i class="fa fa-certificate"></i>
    <span>Certificados</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> Listagem de Certificados</a></li>
    <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Modelos</a></li>
    <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Importar Dados</a></li>
    <li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Avaliação de Certificados</a></li>
    <li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Notificações de Participantes</a></li>
  </ul>
</li>
<li class="treeview">
  <a href="#">
    <i class="fa fa-cog"></i>
    <span>Sistema</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> Configurações</a></li>
  </ul>
</li>