{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow">
  <a href="{% url 'core:index' %}">
    <img width="60" height="38" src="{% static 'images/logo-img.png' %}">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cadastros
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'core:event-list' %}">Eventos</a>
          <!--<a class="dropdown-item" href="#">Participantes</a>-->
          <a class="dropdown-item" href="{% url 'accounts:user-list' %}">Usuários</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Certificados
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Listagem de Certificados</a>
          <a class="dropdown-item" href="{% url 'certificates:template-list' %}">Modelos</a>
          <a class="dropdown-item" href="#">Importar Dados</a>
          <a class="dropdown-item" href="#">Avaliação de Certificados</a>
          <a class="dropdown-item" href="#">Notificações de Participantes</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Configurações</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="btn btn-outline-primary" href="{% url 'logout' %}">Sair</a>
      </li>
    </ul>
  </div>
</nav>