<br>
<style>body,html{height:100%}.container{min-height:30%}</style>
<footer class="footer text-center">
        <div class="footnote">
            <p class="font-weight-light">
                O sistema <strong class="font-weight-normal">SGCE</strong> é um software livre licenciado sob <a href="https://github.com/vinigracindo/sgce/blob/master/LICENSE" rel="external">MIT License</a>.
            </p>
            <p>
                <strong>Copyright -{% now 'Y' %} &copy; IFCE Campus Cedro</strong>
            </p>
            <p id="infocopy" class="small font-weight-light">

            Desenvolvido por <a href="https://github.com/vinigracindo" alt="Perfil no Github de Vinnicyus Gracindo">Vinnicyus Gracindo</a> baseado no sistema <a href="https://softwarepublico.gov.br/social/sgce" alt="Página do SGCE no Portal do Software Público">SGCE</a>  
            criado pela <a href="https://unipampa.edu.br/" alt="Site da UNIPAMPA">Universidade Federal do Pampa</a>.
            Adaptado para o IFCE Campus Cedro pelo estudante 
            <a href="https://github.com/FcoGabrielSL" alt="Perfil no Github de Francisco Gabriel">Francisco Gabriel de Souza Lima</a>, sob orientação do professor 
            <a href="https://joseolinda.github.io/" alt="Site do professor José Olinda">José Olinda da Silva</a>.
            </p>    
        </div>
</footer>
