html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  /*max-width: 960px;*/
  max-width: auto;
}

.main-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
    border-top: 8px solid #007D3B;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.fa {
    font-size: 8px;
}

.required-field {
    color:red;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.footnote {
    border-top: 2px solid #eee;
    clear: both;
    color: #999;
    font-size: .8rem;
    margin-top: 30px;
    padding-top: 20px;
}
.footnotes p {
    margin-bottom: 0.2rem !important;
}
.footnote a, .footnote strong {
    color: #999;
    font-weight: 500;
}
#infocopy {
    max-width: 450px;
    margin: 0 auto;
    padding: 15px;
}
