{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-10">
      <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {% bootstrap_form form layout='group' %}
        {% buttons %}
          <a href="{% block link-back %}%{% endblock %}" class="btn btn-dark" value="Voltar">Voltar</a>
          <button type="submit" class="btn btn-success">{% block submit-button %}Salvar{% endblock %}</button>
        {% endbuttons %}
      </form>
    </div>
  </div>
{% endblock %}
