{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'images/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <title>SGCE - Sistema Gerenciador de Certificados Eletrônicos</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
    <form method="post" class="form-signin"> {% csrf_token %}
      <a href="{% url 'home' %}"><img class="mb-4" src="{% static 'images/logo.png' %}" alt="" width="96"></a>
      {% if form.errors %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {{ error }}
          </div>
        {% endfor %}
      {% endif %}
      <label for="inputUsername" class="sr-only">Usuário</label>
      <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Usuário" required autofocus>
      <label for="inputPassword" class="sr-only">Senha</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Senha" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2018-{% now 'Y' %}</p>
    </form>
    <footer class="footer fixed-bottom">
      <div class="footnote">
		    <p class="font-weight-light">
			    O sistema <strong class="font-weight-normal">SGCE</strong> é um software livre licenciado sob <a href="https://github.com/vinigracindo/sgce/blob/master/LICENSE" rel="external">MIT License</a>.
		    </p>
		    <p>
			    <strong>Copyright 2020 © IFCE Campus Cedro</strong>
		    </p>
		    <p id="infocopy" class="small font-weight-light">
	
          Desenvolvido por <a href="https://github.com/vinigracindo" alt="Perfil no Github de Vinnicyus Gracindo">Vinnicyus Gracindo</a> baseado no sistema <a href="https://softwarepublico.gov.br/social/sgce" alt="Página do SGCE no Portal do Software Público">SGCE</a>  
          criado pela <a href="https://unipampa.edu.br/" alt="Site da UNIPAMPA">Universidade Federal do Pampa</a>.
          Adaptado para o IFCE Campus Cedro pelo estudante 
          <a href="https://github.com/FcoGabrielSL" alt="Perfil no Github de Francisco Gabriel">Francisco Gabriel de Souza Lima</a>, sob orientação do professor 
          <a href="https://joseolinda.github.io/" alt="Site do professor José Olinda">José Olinda da Silva</a>.
		    </p>    
	  </div>
  </footer>
  </body>
</html>
