{% extends 'base.html' %}

{% load static %}

{% block extra-css %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'css/buttons.dataTables.min.css' %}">
{% endblock %}

{% block content-title %}Evento{% endblock %}
{% block content-description %}
  <b>{{ object.name }}</b> <br>
  {% if object.start_date != object.end_date %}
    {{ object.start_date }} até {{ object.end_date }}
  {% else %}
    {{ object.start_date }}
  {% endif %}
{% endblock %}


{% block content %}
  <div class="row justify-content-center">
    <a href="{% url 'certificates:certificates-creator' %}" class="btn btn-success" value="Gerar Certificado">Gerar Certificados</a>
  </div>
  {% for template in object.templates.all %}
    <div class="row mt-4">
        <h3>{{ template.name }}</h3>
    </div>
    <div class="row">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Certificado</th>
          <th>Nome</th>
          <th>Cód. Validação</th>
          <th>Situação</th>
          <th>Histórico</th>
          <th>Visualizar</th>
        </tr>
        </thead>
        <tbody>
        {% for certificate in template.certificates.all %}
          <tr>
            <td>{{ certificate.template.name }}</td>
            <td>{{ certificate.participant.name }}</td>
            <td>{{ certificate.hash }}</td>
            <td>{{ certificate.get_status_display }}</td>
            <td><a target="_blank" href="{% url 'certificates:certificate-history' certificate.pk %}" class="fas fa-clock fa-sm" title="Histórico"></a></td>
            <td><a href="{% url 'certificates:certificate-pdf' certificate.hash %}" class="fas fa-file-pdf fa-sm" title="Visualizar"></a></td>
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
          <th>Certificado</th>
          <th>Nome</th>
          <th>Cód. Validação</th>
          <th>Situação</th>
          <th>Histórico</th>
          <th>Visualizar</th>
        </tr>
        </tfoot>
      </table>
    </div>
  {% empty %}
    <div class="row justify-content-center mb-4">
      Não existe um modelo de certificado criado para este evento
    </div>
    <div class="row justify-content-center mb-4">
      <a href="{% url 'certificates:template-list' %}" class="btn btn-success" value="Criar Modelo">Criar Modelo</a>
    </div>
  {% endfor %}
  <div class="row justify-content-center">
    <a href="{% url 'core:event-list' %}" class="btn btn-dark" value="Voltar">Voltar</a>
  </div>
{% endblock %}

{% block extra-js %}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script>
  $(function () {
    $('table').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
      'language': {
        "sEmptyTable": "Nenhum registro encontrado",
        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
        "sInfoPostFix": "",
        "sInfoThousands": ".",
        "sLengthMenu": "_MENU_ resultados por página",
        "sLoadingRecords": "Carregando...",
        "sProcessing": "Processando...",
        "sZeroRecords": "Nenhum registro encontrado",
        "sSearch": "Pesquisar",
        "oPaginate": {
            "sNext": "Próximo",
            "sPrevious": "Anterior",
            "sFirst": "Primeiro",
            "sLast": "Último"
        },
        "oAria": {
            "sSortAscending": ": Ordenar colunas de forma ascendente",
            "sSortDescending": ": Ordenar colunas de forma descendente"
        },
      },
    })
  })
</script>
{% endblock %}