{% extends 'base.html' %}

{% load static %}

{% block extra-css %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'css/buttons.dataTables.min.css' %}">
{% endblock %}

{% block content-title %}Eventos{% endblock %}
{% block content-description %}Página de Administração dos Eventos{% endblock %}

{% block content %}
<div class="row mb-4 ml-0 justify-content-center">
  {% if perms.core.add_event %}
    <a class="btn btn-success" href="{% url 'core:event-create' %}" role="button">Novo Evento</a>
  {% else %}
    <a class="btn btn-secondary" style="cursor: not-allowed;" href="{% url 'core:event-create' %}" role="button" title="Você não tem permissão para criar um evento." disabled>Novo Usuário</a>
  {% endif %}
</div>
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-info" role="alert">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
<div class="row">
  <table id="tableList" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Local</th>
      {% if user.is_superuser %}
        <th>Criado por</th>
      {% endif %}
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    {% for event in events %}
      <tr>
        <td><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></td>
        <td>{{ event.location }}</td>
        {% if user.is_superuser %}
          <td>{{ event.created_by.get_full_name }}</td>
        {% endif %}
        <td>
          <a href="{% url 'certificates:template-list' %}" class="fas fa-certificate fa-sm" title="Certificados"></a>
          {% if perms.core.change_event %}
            | <a href="{% url 'core:event-update' event.pk %}" class="fas fa-edit fa-sm" title="Editar"></a>
          {% endif %}
          {% if perms.core.delete_event %}
            | <a href="{% url 'core:event-delete' event.pk %}" class="fa fa-trash-alt fa-sm" title="Excluir"></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
      <th>Nome</th>
      <th>Local</th>
      {% if user.is_superuser %}
        <th>Criado por</th>
      {% endif %}
      <th>Ações</th>
    </tr>
    </tfoot>
  </table>
</div>
{% endblock %}

{% block extra-js %}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script>
  $(function () {
    $('#tableList').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
      'language': {
        "sEmptyTable": "Nenhum registro encontrado",
        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
        "sInfoPostFix": "",
        "sInfoThousands": ".",
        "sLengthMenu": "_MENU_ resultados por página",
        "sLoadingRecords": "Carregando...",
        "sProcessing": "Processando...",
        "sZeroRecords": "Nenhum registro encontrado",
        "sSearch": "Pesquisar",
        "oPaginate": {
            "sNext": "Próximo",
            "sPrevious": "Anterior",
            "sFirst": "Primeiro",
            "sLast": "Último"
        },
        "oAria": {
            "sSortAscending": ": Ordenar colunas de forma ascendente",
            "sSortDescending": ": Ordenar colunas de forma descendente"
        },
      },
    })
  })
</script>
{% endblock %}