{% extends 'base.html' %}

{% load static %}

{% block content-title %}Certificado{% endblock %}
{% block content-description %}Histórico de Alteração{% endblock %}


{% block content %}
  <div class="row">
    <table id="tableList" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Data e Hora</th>
          <th>Usuário</th>
          <th>IP</th>
          <th>Status</th>
          <th>Observação</th>
        </tr>
      </thead>
      <tbody>
        {% for log in certificate.logs.all %}
          <tr>
            <td>{{ log.datetime }}</td>
            <td>{{ log.user }}</td>
            <td>{{ log.ip }}</td>
            <td>{{ log.get_status_display }}</td>
            <td>{{ log.notes }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}